---
home: c:\path\to\script\folder
db:
  driver: Pg
  name: database_name
  host: database.host
  sslmode: require
  user: db_username
  pass: db_password
timeout: 30
# If using MRBS this should match an existing room id
room_id: 9
split_every: 12
sync_every: 1
sync_at_start: 1
